.cart {
  display: flex;
  align-items: center;
  color: #fff;
  gap: 0.5rem;
  &__number {
    background-color: red;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__img {
    width: 25px;
    height: 25px;
  }
}
