.navBar {
  background: var(--background-color);
  display: flex;
  justify-content: space-between;
  padding: 2rem;

  &__logo {
    color: #fff;
    display: flex;
    align-items: center;
    gap: 15px;
    font-family: var(--logo-font);
  }
  &__options {
    display: flex;
    align-items: center;
    gap: 2rem;
    font-weight: var(--montserrat-light);

    a {
      color: #fff;
      &:hover {
        color: #e0e0e0;
      }
    }
  }
}
